<section
  id="contact"
  class="max-w-3xl mx-auto px-6 py-20 fade-in fade-up-delay-1 scroll-mt-24"
>
  <h2 class="text-3xl font-bold text-center mb-14 text-primary">Contacto</h2>

  <form class="flex flex-col gap-5 max-w-md mx-auto fade-up-delay-2">
    <input
      type="text"
      placeholder="Nombre"
      required
      class="p-3 border border-gray-300 rounded-md text-gray-700
             focus:outline-none focus:ring-2 focus:ring-primary shadow-sm"
    />

    <input
      type="email"
      placeholder="Email"
      required
      class="p-3 border border-gray-300 rounded-md text-gray-700
             focus:outline-none focus:ring-2 focus:ring-primary shadow-sm"
    />

    <textarea
      rows="5"
      placeholder="Mensaje"
      required
      class="p-3 border border-gray-300 rounded-md text-gray-700
             focus:outline-none focus:ring-2 focus:ring-primary shadow-sm resize-none"
    ></textarea>

    <button
      type="submit"
      class="bg-primary hover:bg-secondary text-white font-semibold py-3
             rounded-md transition duration-300 shadow-md"
    >
      Enviar
    </button>
  </form>
</section>
