<nav
  class="sticky top-0 z-50 bg-white/80 backdrop-blur border-b border-slate-200"
>
  <div class="max-w-5xl mx-auto px-6 py-4 flex items-center justify-between">
    <a href="#" class="text-xl font-extrabold tracking-tight">
      Fran<span class="text-secondary">Dev</span>
    </a>

    <button
      id="menu-btn"
      class="md:hidden text-slate-800 focus:outline-none"
      aria-label="Abrir menú"
    >
      ☰
    </button>

    <ul class="hidden md:flex items-center gap-8 font-bold">
      <li><a href="#about" class="hover:text-secondary">Sobre mí</a></li>
      <li><a href="#services" class="hover:text-secondary">Servicios</a></li>
      <li><a href="#portfolio" class="hover:text-secondary">Portfolio</a></li>
      <li>
        <a href="#contact" class="hover:text-secondary">Contacto</a>
      </li>
    </ul>
  </div>

  <ul
    id="mobile-menu"
    class="md:hidden
    flex flex-col gap-4
    px-6 pb-6
    overflow-hidden
    transition-all duration-300 ease-out
    max-h-0 opacity-0"
  >
    <li><a href="#about">Sobre mí</a></li>
    <li><a href="#services">Servicios</a></li>
    <li><a href="#portfolio">Portfolio</a></li>
    <li><a href="#contact">Contacto</a></li>
  </ul>
</nav>

<script>
  const btn = document.getElementById("menu-btn");
  const menu = document.getElementById("mobile-menu");

  //btn? to avoid TS error if element not found

  btn?.addEventListener("click", () => {
    menu?.classList.toggle("max-h-0");
    menu?.classList.toggle("opacity-0");
    menu?.classList.toggle("max-h-96");
    menu?.classList.toggle("opacity-100");
  });
</script>
